<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>check out N-5!</title>
    <style>
        .div{
            border
        }

        img{

            margin-top: 20px;
            width: 190px;
            height: 160px;

        }
    </style>


</head>
<body>
    <div class = "img">
        <a href=""><img src="/image/1.png" ></a></br>
        <a href=""><img src="/image/2.png" ></a></br>
        <a href=""><img src="/image/3.png" ></a></br>
        <a href=""><img src="/image/4.png" ></a></br>
        <a href="localhost:8080/rinyejo"><img src="/image/5.png" ></a>

    </div>






</body>
</html>